<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>detail Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="color:blue">Email{{usuario.email}}</ion-card-subtitle>
      <ion-card-title style="color: cornflowerblue;">Name: {{usuario.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        user: {{usuario.username}}<br>
        Street: {{usuario.address.street}}<br>
        City: {{usuario.address.city}}<br>
        zipcode: {{usuario.address.zipcode}}<br>
        phone: {{usuario.phone}}<br>
        website: {{usuario.website}}
      </p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
