
form{
    margin-top: 40%;
    margin-left: 20px;
    margin-right: 20px;
}

#alerta{
    font-size:12px;
    margin-left: 15px;
    margin-right: 15px;
    color:red;
    font-weight: bold;
}

#letra{
    font-size: 14px;

}