<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
  <form style="margin-top: 40%;">
    <ion-item>
      <ion-input type="text" name="nombre" label="Nombre:" 
         labelPlacement="floating" [(ngModel)]="animalito.nombre">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" name="tipo" label="Tipo:" 
         labelPlacement="floating" [(ngModel)]="animalito.tipo">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" name="color" label="Color:" 
         labelPlacement="floating" [(ngModel)]="animalito.color">
      </ion-input>
    </ion-item>

    <div style="text-align: center; margin-top: 30px;">
      <ion-button (click)="updateAnimalito()" shape="round" color="success">
        Actualizar
      </ion-button>
      
    </div>

  </form>
</ion-content>
