3<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
 <form [formGroup]="loginForm">
  <ion-item>
    <ion-input type="text" placeholder="Username" label="Ingrese nombre de Usuario: " labelPlacement="floating"
    formControlName="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="password" label="Ingrese contraseña: " labelPlacement="floating"
    formControlName="password"></ion-input>
  </ion-item>

  <div id="alerta" *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || 
                  loginForm.get('username')?.touched)">
        <div id="alerta" *ngIf="loginForm.get('username')?.hasError('required')">
          *Username es obligatorio
        </div>
        <div id="alerta" *ngIf="loginForm.get('username')?.hasError('minlength')">
          *Username debe tener mínimo 6 caracteres
        </div>
  </div>

  <div id="alerta" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || 
                 loginForm.get('password')?.touched)">
        <div id="alerta" *ngIf="loginForm.get('password')?.hasError('required')">
          *Password es obligatoria
        </div>
        <div id="alerta" *ngIf="loginForm.get('password')?.hasError('minlength')">
         *Password debe tener mínimo 8 caracteres
        </div>
</div>

<div style="text-align: center; margin-top:20px">
  <ion-button (click)="login()" [disabled]="!loginForm.valid" shape="round" color="primary">
    Iniciar Sesion
  </ion-button> 
</div>

 </form>
  
</ion-content>