<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-list>
    <ion-item *ngFor="let a of usuarios" (click)="buscarUser(a)">
      
      <ion-card >
        <ion-card-header>
          <ion-card-subtitle style="font-size: 16px;">Email: {{a.email}}</ion-card-subtitle>
          <ion-card-title>Name: {{a.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>
            Street: {{a.address.street}}<br>
            City: {{a.address.city}}<br>
            Zip Code: {{a.address.zipcode}}<br>
            Phone {{a.phone}}
          </p>
          
        </ion-card-content>
      </ion-card>



    </ion-item>
  </ion-list>


   

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
