<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      text=""
      color = "dark">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let u of usuarios" (click)="buscarUser(u)">
    <ion-card-header>
      <ion-card-subtitle>Email: {{u.email}}</ion-card-subtitle>

      <ion-card-title>Name: {{u.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Street: {{u.address.Street}}<br>
        City: {{u.address.city}}<br>
        Zipcode: {{u.address.zipcode}}<br>
        Zipcode: {{u.phone}}<br>
      </p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
